@import 'fonts.scss';

$background: rgb(27, 35, 47);
$grid-background: rgb(54, 59, 67);
$tile-background: rgb(85, 90, 100);
$tile-background-hover:rgb(146, 154, 167);
$text: rgb(56, 193, 74);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin-left: 200px;
    margin-right: 200px;
    background-color: $background;
    color: $text;
    font-family: 'Raleway';
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    appearance: none;
    font-family: 'Raleway';
    padding: 6px;
    border: 1px solid $text;
    font-size: 1.2em;
    color: $text;
    background-color: $grid-background;
}

button:hover{
    background-color: $tile-background;
    cursor: pointer;
}

.puzzle-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.settings-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.timer-count-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.size-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

.game-grid{
    display: grid;
    background-color: $grid-background;
    grid-auto-flow: row;
    box-shadow: 0px 4px 8px 2px rgb(85, 90, 100);
}

.size-3{
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
}
.size-4{
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(4, 110px);
}
.size-5{
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
}
.size-6{
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: repeat(6, 80px);
}
.size-7{
    grid-template-columns: repeat(7, 80px);
    grid-template-rows: repeat(7, 80px);
}
.size-8{
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.game-tile{
    padding: 4px;
    background-color: $tile-background;
    border: 1px solid $text;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-tile{
    background-color: pink;
}

.game-tile:hover{
    cursor: pointer;
    background-color: $tile-background-hover;
}

.red{
    background-color: lightcyan;
}

@media screen and (max-width: 1919px) {
    body{
        margin-left: 100px;
        margin-right: 100px;
    }

}

@media screen and (max-width: 1439px) {
    body{
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 767px) {
    body{
        margin-left: 16px;
        margin-right: 16px;
        font-size: 1.5em;
    }

    button{
        font-size: 1em;
    }

}

